<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">  
</head>  
  
<body>  


{% if fromKilling == True %}
  Эксперимент завершён. Ответ менеджера: {{ manager_reply }}<br><br>
  <a href="/main/">Назад к списку</a><br><br>
{% else %}
  <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e" colspan="2">Результат эксперимента<br></th>
  </tr>
  <tr>
    <td class="tg-031e">Имя эксперимента<br></td>
    <td class="tg-031e">{{ resultExperiments.experiment.experiment_name }}</td>
  </tr>
  <tr>
    <td class="tg-031e">Дата</td>
    <td class="tg-031e">{{ resultExperiments.date }}</td>
  </tr>
  <tr>
    <td class="tg-031e">Файл данных<br></td>
    <td class="tg-031e">{{ resultExperiments.buff_file }}</td>
  </tr>
</table>

<br>

<table>
  <tr>
    <td>
      <form method="post">
        {% csrf_token %}
        <button formaction="/experiment/show{{ resultExperiments.id }}/delete/">Удалить эксперимент</button>
      </form>
    </td>

    <td>
      <form method="post">
        {% csrf_token %}
        <button formaction="/main/">Назад к списку</button>
      </form>
    </td>
  </tr>
</table>

<br>
<div id="experiment_img">
  <img id="preview" src="/static/{{ resultExperiments.buff_file }}.dat.png" />  
</div>  



{% endif %}


<form method="post">
  {% csrf_token %}
    <button formaction="/main/logout/">Покинуть "Нереиду"</button>
</form>

</body>  
</html>