{% load staticfiles %}

<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">  
</head>  
  
<body>  

<p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-69vs{font-size:100%;font-family:serif !important;}
</style>
<table class="tg">
  <tr>
    <th class="tg-69vs" colspan="4">Параметры эксперимента<br></th>
  </tr>
  <tr>
    <td class="tg-031e">Имя эксперимента<br></td>
    <td class="tg-031e">{{ exp_obj.experiment_name }} <b>№ {{ exp_obj.id }}</b></td>
    <td class="tg-031e">Управление 1<br></td>
    <td class="tg-031e">ОТСУСТВУЕТ</td>
  </tr>
  <tr>
    <td class="tg-031e">Дата</td>
    <td class="tg-031e">-</td>
    <td class="tg-031e">Управление 2<br></td>
    <td class="tg-031e">ОТСУСТВУЕТ</td>
  </tr>
  <tr>
    <td class="tg-031e">Файл данных<br></td>
    <td class="tg-031e">Не сформирован</td>
    <td class="tg-031e">Управление 3<br></td>
    <td class="tg-031e">ОТСУСТВУЕТ</td>
  </tr>
</table>
</p>



<br>
<a href="/{{ exp_obj.experiment_app }}/start/{{ experiment_ether }}/">Запустить</a><br><br>
<a href="/main/">Назад к списку</a>
<br>




</body>  
</html>  