<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">  
</head>  
  
<body>  


  Эксперимент завершён. Ответ менеджера: {{ manager_reply }}<br><br>
  <a href="/main/">Назад к списку</a><br><br>



<form method="post">
  {% csrf_token %}
    <button formaction="/main/logout/">Покинуть "Нереиду"</button>
</form>

</body>  
</html>