{% load staticfiles %}

<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">  
<!-- <script type="text/javascript" src="{% static "experiment/jquery-2.1.3.min.js" %}"></script>   -->
</head>  
  
<body>  

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-s6z2{text-align:center}
</style>
<table class="tg">
  <tr>
    <th class="tg-s6z2" colspan="3">Эксперименты</th>
  </tr>
  <tr>
    <td class="tg-031e">Доступные<br></td>
    <td class="tg-031e">Текущие<br></td>
    <td class="tg-031e">Результаты<br></td>
  </tr>
  <tr>
    <td class="tg-031e">
    {% for experiments in existExperiments %} 
        <b><a href="/{{ experiments.experiment_app }}/preview/{{ experiments.id }}/">{{ experiments.experiment_name }}</a></b><li>{{ experiments.experiment_address }}</li> 
    {% endfor %}
    </td>
    
    <td class="tg-031e">
    {% for experiments in runningExperiments %} 
        <li><a href='/{{ experiments.experiment.experiment_app }}/start/{{ experiments.experiment.id }}/'>{{ experiments.experiment.experiment_name }}</a></li><br>
    {% endfor %}
    </td>
    
    <td class="tg-031e">
    {% for results in resultExperiments %} 
        <li><a href="/{{ results.experiment.experiment_app }}/show/{{ results.id }}/">{{ results.experiment.experiment_name }}</a><b>({{ results.date }})</b></li>
         
    {% endfor %}      
    </td>
  </tr>
</table>

<br><br>

<form method="post">
{% csrf_token %}
  <button formaction="/main/logout/">Покинуть "Нереиду"</button>
  {% if failLogout == True %}
    <p><font style="background-color:#ff0000;">Выход запрещён при незавершённых экспериментах!</font></p>
  {% endif %}
</form>



</body>  
</html>