<!-- <form action="/auth/login/" method="post">{% csrf_token %}
{{ form.as_p }}
<p><label for="username">Username: </label>
    <input id="username" type="text" name="username" maxlength="10" /></p>
<p><label for="password">Password: </label>
    <input type="password" name="password" id="password" /></p>
<p><input type="submit" value="Submit" />
</p>
</form> -->

    
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">  

<style>
#parent {
  padding: 0% 0;
}
#child {
  padding: 20% 0%;
}
</style>

</head>  

<body>  


<div id="parent">

 <div id="child" align="center">
  <h1><b>ИС   &laquo Дистанционная лаборатория &raquo</b></h1>

      <form method="post">
        {% csrf_token %}
        <table>
          {{ form }}
          <tr>
            <td colspan="2">
              <input type="submit" name="login" value="Войти в систему"/>
            </td>
          </tr>
        </table>
      </form>
  </div>
</div>


</body>  
</html>  