{% load staticfiles %}

<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">  
</head>  
  
<body>  


<p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-69vs{font-size:100%;font-family:serif !important;}
</style>
<table class="tg">
  <tr>
    <th class="tg-69vs" colspan="4">Параметры эксперимента<br></th>
  </tr>
  <tr>
    <td class="tg-031e">Имя эксперимента<br></td>
    <td class="tg-031e">{{ res_obj.experiment.experiment_name }} <b>ID {{ res_obj.experiment.id }}</b></td>
    <td class="tg-031e">Управление 1<br></td>
    <td class="tg-031e">ОТСУСТВУЕТ</td>
  </tr>
  <tr>
    <td class="tg-031e">Дата</td>
    <td class="tg-031e">{{ res_obj.date }}</td>
    <td class="tg-031e">Управление 2<br></td>
    <td class="tg-031e">ОТСУСТВУЕТ</td>
  </tr>
  <tr>
    <td class="tg-031e">Файл данных<br></td>
    <td class="tg-031e">{{ res_obj.buff_file }}</td>
    <td class="tg-031e">Управление 3<br></td>
    <td class="tg-031e">ОТСУСТВУЕТ</td>
  </tr>
</table>
</p>


<table>
  <tr>
    <td>
      <form method="post">
        {% csrf_token %}
        <button formaction="/{{ res_obj.experiment.experiment_app }}/delete/{{ res_obj.id }}/">Удалить эксперимент</button>
      </form>
    </td>

    <td>
      <form method="post">
        {% csrf_token %}
        <button formaction="/main/">Назад к списку</button>
      </form>
    </td>
  </tr>
</table>

<br>
<div id="experiment_img">
  <img id="preview" src="/static/{{ res_obj.buff_file }}.dat.png" />  
</div>  






<br>


</body>  
</html>  