{% load staticfiles %}

<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">  
<script type="text/javascript" src="{% static "experiment/jquery-2.1.3.min.js" %}"></script>  
</head>  
  
<body>  

{% if manager_reply_status == "myExperiment" or manager_reply_status == "started" %}
<p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-69vs{font-size:100%;font-family:serif !important;}
</style>
<table class="tg">
  <tr>
    <th class="tg-69vs" colspan="4">Параметры эксперимента<br></th>
  </tr>
  <tr>
    <td class="tg-031e">Имя эксперимента<br></td>
    <td class="tg-031e">{{ newExperiment.experiment.experiment_name }} <b>ID {{ newExperiment.experiment.id }}</b></td>
  </tr>
  <tr>
    <td class="tg-031e">Дата</td>
    <td class="tg-031e">{{ newExperiment.date }}</td>
  </tr>
  <tr>
    <td class="tg-031e">Файл конфигурации/Файл данных<br></td>
    <td class="tg-031e">{{ newExperiment.buff_file }}.cfg / {{ newExperiment.buff_file }}.dat</td>
  </tr>
</table>
</p>


<!-- ОПИСАНИЕ ПОЛЕЙ ОПЦИЙ -->
<p>
<form action="/{{ newExperiment.experiment.experiment_app }}/setopt/{{ experiment_ether }}/" method = "post">
{% csrf_token %}
  <table class="tg">
  <tr>
    <th class="tg-69vs" colspan="2">Опции эксперимента<br></th>
  </tr>
  <tr>

      {{ exp_setopt_form }}

  </tr>

</table>
<p>Управление сервоприводом <input type="submit" value="+" name="inc_angle"><input type="submit" value="-" name="dec_angle"></p>
</form>
<br>
Угол позиционирования: {{ angle_status }}
<br>
Расстояние до объекта: {{ distanceVal }} 
<br>
Указатель: {{ laserStatus }}
</p>


<br>
<a href="/{{ newExperiment.experiment.experiment_app }}/stop/{{ experiment_id }}/">Остановить эксперимент</a><br><br>
<a href="/main/">Назад к списку</a>
<br>

<div id="experiment_img">
  <img id="preview" src="/static/{{ newExperiment.buff_file }}.dat.png" alt="Ожидание ответа сервера"/>  
</div>  


<!-- 
<script type="text/javascript">
    function refresh_preview() {
        d = new Date();
        // origSrc = document.getElementById('preview').src;
        $("#preview").attr("src", "/static/{{ newExperiment.buff_file }}.dat.png?" + d.getTime());
        //$("#preview").attr("alt", "{{ newExperiment.buff_file }}.dat.png");
    }

    $(document).ready(function(){  
      refresh_preview();  
      setInterval('refresh_preview()',1000);  
    });
</script>
 -->

<br>

{% else %}
Ошибка на странице
<a href="/main/">Назад к списку</a><br>
{% endif %}



</body>  
</html>  