{% load staticfiles %}

<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">  
</head>  
  
<body>  

<p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-69vs{font-size:100%;font-family:serif !important;}
</style>
<table class="tg">
  <tr>
    <th class="tg-69vs" colspan="4">Параметры эксперимента<br></th>
  </tr>
  <tr>
    <td class="tg-031e">Имя эксперимента<br></td>
    <td class="tg-031e">{{ exp_obj.experiment_name }} <b>№ {{ exp_obj.id }}</b></td>
    <td class="tg-031e">Информация об эксперименте:<br></td>
  </tr>
  <tr>
    <td class="tg-031e">Дата</td>
    <td class="tg-031e">-</td>
    <td class="tg-031e" rowspan="2" width="350px">Эксперимент с УЗ дальнометром. Развёртка 180 градусов.<br></td>
  </tr>
  <tr>
    <td class="tg-031e">Файл данных<br></td>
    <td class="tg-031e">Не сформирован</td>

  </tr>
</table>
</p>

<!-- ОПИСАНИЕ ПОЛЕЙ ПРЕДУСТАНОВОЧНЫХ ОПЦИЙ -->
<p>
<form action="/{{ exp_obj.experiment_app }}/start/{{ experiment_ether }}/" method = "post">
{% csrf_token %}
  <table class="tg">
  <tr>
    <th class="tg-69vs" colspan="2">Предустановки<br></th>
  </tr>
  <tr>
  <!-- <td class="tg-031e">Имя эксперимента<br></td> -->
    
      {{ exp_type_choice }}

  </tr>
</table>
<p><input type="submit" value="Запуск"></p>
</form> 
</p>


<br>


<a href="/main/">Назад к списку</a>
<br>


</body>  
</html>  